h1{
  text-align: center;
}
.choices{
  display:flex;
  justify-content: space-around;
  padding: 25px;
}
.choice{
  height: 200px;
  width: 200px;
  background-color: antiquewhite
}
#rock{
  background-color: grey;
  background-image: url("/images/rock.jpeg");
  border-radius: 50%;
  border: 2px solid black;
}
#paper{
  background-image: url("/images/paper.jpeg");
  border-radius: 50%;
  border: 2px solid black;
}
#scissors{
  background-image: url("/images/scissors.png");
  border-radius: 50%;
  border: 2px solid black;
}

.results{
  display: flex;
  justify-content: space-around;
}
.result{
  height: 200px;
  width: 200px;
  /* margin-top: 80px; */
  background-color: rgba(12, 88, 2, 0.384);
  border-radius: 50%;
}
.rock{
  background-color: grey;
  background-image: url("/images/rock.jpeg");
}
.paper{
  box-shadow: 3px 3px 3px green;
  background-color: black;
  background-image: url("/images/paper.jpeg");
}
.scissor{
  background-image: url("/images/scissors.png");
}
