h1{
  text-align: center;
}
.game{
  display:flex;
  justify-content: space-around;
  padding: 25px;
}
.choices{
  height: 200px;
  width: 200px;
  background-color: antiquewhite
}
#rock{
  background-color: grey;
  background-image: url("/images/rock.jpeg");
  border-radius: 50%;
  border: 2px solid black;
}
#paper{
  background-image: url("/images/paper.jpeg");
  border-radius: 50%;
  border: 2px solid black;
}
#scissors{
  background-image: url("/images/scissors.png");
  border-radius: 50%;
  border: 2px solid black;
}